#home {
  background-color: #FAFBFC;
  color: white;
  height: 120vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}
